{% extends 'base.html.twig' %}

{% block title %}{{ 'Info'|trans }}{% endblock %}

{% block content %}
    <br>

    <div class="row">
        <div class="col-xl-3">
            <h2>{{ 'Content'|trans }}</h2>
            {{ knp_menu_render('manual') }}
        </div>

        <div class="col">
            {{ content|raw }}
        </div>
    </div>
{% endblock %}
